:root {
    --naranja: hsl(31, 77%, 52%);
    --turquesa: hsl(184, 100%, 22%);
    --verde: hsl(179, 100%, 13%);
    --neutral: hsl(0, 0%, 95%);
    --neutral-parrafos: hsla(0, 0%, 100%, 0.75);
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    color: var(--turquesa);
}

.attribution a {
    color: var(--verde);
}

/*Google fonts*/

.lexend-deca-400 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.big-shoulders-700 {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* 1. Centrar la caja entera en el navegador */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 15px;
    color: var(--neutral-parrafos);
}

.titulo {
    color: var(--neutral);
    font-size: 2em;
    text-transform: uppercase;
}

/* 2. Configurar main para contener 3 columnas */
main {
    display: flex;
    width: 60%;
    padding: 20px;
    overflow: hidden;
}

div {
    width: 100%;
}

/* 3. Estilos de las section en general*/
section {
    flex: 1;
    padding: 5%;
    text-align: left;
}

section:nth-child(1) {
    background-color: var(--naranja);
    border-radius: 5% 0 0 5%;
}

section:nth-child(2) {
    background-color: var(--turquesa);
}

section:nth-child(3) {
    background-color: var(--verde);
    border-radius: 0 5% 5% 0;
}


section p {
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 1.5; 
}
section p:nth-child(3){margin-bottom: 40%;}
section a {
    text-decoration: none;
    margin-top: 30%;
    padding: 7% 12%;
    background-color: var(--neutral);
    border-radius: 25px;
    border-color:var(--neutral);
}
section:nth-child(1) a{ color: var(--naranja);}
section:nth-child(1) a:hover{ border: 2px solid var(--neutral);background-color: var(--naranja);color:var(--neutral)}
section:nth-child(2) a{ color: var(--turquesa);}
section:nth-child(2) a:hover{ border: 2px solid var(--neutral);background-color: var(--turquesa);color:var(--neutral)}
section:nth-child(3) a{ color: var(--verde);}
section:nth-child(3) a:hover{ border: 2px solid var(--neutral);background-color: var(--verde);color:var(--neutral)}
