body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    padding: 1.25em;
    width: 15%;
    border: 1px solid #c7c7c8;
    font-size: 1.25em;
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
    transform: rotate(15deg);
    transition: transform 2s;
}
 div:hover{
    transform: rotate(0);
 }