.caja{
    margin-top:2%;
    width: 200px;
    height: 200px;
}
#caja1{
    background-color: cadetblue;
    transform: scale(1.5) translateX(300px);
}
#caja2{
    background-color: rgb(56, 89, 90);
    transform: scale(0.5);
}
#caja3{
    background-color: rgb(28, 134, 137);
    transform:rotate(25deg);
}
#caja4{
    background-color: rgb(6, 221, 228);
    transform:rotate(-25deg);
}
#caja5{
    background-color: rgb(2, 96, 99);
    transform:skew(50deg,-35deg);
}