:root{
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /*Gradients*/
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}
@font-face {
    font-family: HankenGrotek_500;
    src: url(../assets/fonts/static/HankenGrotesk-Medium.ttf);
}
@font-face {
    font-family: HankenGrotek_700;
    src: url(../assets/fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: HankenGrotek_800;
    src: url(../assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
.attribution { font-size: 11px; text-align: center; position:absolute; bottom:0}
.attribution a { color: hsl(228, 45%, 44%); }

/* 1. Centrar la caja entera en el navegador */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: HankenGrotek_500;
    background-color: var(--pale-blue);
}

.titulo {
    color: var(--neutral);
    font-size: 2em;
    text-transform: uppercase;
}

/* 2. Configurar main para contener 3 columnas */
main {
    display: flex;
    width: 60%;
    overflow: hidden;
    background-color:var(--white);
    border-radius: 15px;
}

div {
    width: 100%;
}

/* 3. Estilos de las section en general*/
section {
    flex: 1;
    padding: 5%;
    text-align: left;
}

section:nth-child(1) {
    background:linear-gradient(var(--light-slate-blue-background), var(--light-royal-blue-background));
    border-radius: 15px;
}